@import "./styles/_variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--brand-light);
  color: var(--brand-dark);
}